In [2]:
import pandas as pd
import numpy as np

## Calculating language proficiency scores

In [3]:
df = pd.read_csv("speech-accent-archive-processed2.csv")

In [12]:
df[['url-id',
       'length-residence2', 'english-residence2', 'age-of-english-onset2',
       'other-languages2', 'birth-place2', 'age2', 'sex2', 'english-dialect']]

,url-id,length-residence2,english-residence2,age-of-english-onset2,other-languages2,birth-place2,age2,sex2,english-dialect
0,428,25.0,usa,11,hebrew,"amman, jordan",47.0,male,NaN
1,427,21.0,us virgin islands,0,french,"st. thomas, us virgin islands",21.0,male,"st. thomas, us virgin islands"
2,426,4.0,"india, usa",0,hindi-urdu french,"bombay, india",21.0,male,india
3,425,1.0,uk,5,punjabi urdu hindi-urdu,"jammu, kashmir, india",25.0,male,NaN
4,424,1.5,uk,8,urdu punjabi turkish,"karachi, pakistan",26.0,male,NaN
...,...,...,...,...,...,...,...,...,...
2998,433,10.0,usa,14,spanish,"yap island, federated states of micronesia",34.0,female,NaN
2999,432,4.0,usa,14,chuukese ulithian pohnpeian,"lamotrek island, federated states of micronesia",38.0,male,NaN
3000,431,26.0,"sierra leone, usa",5,mandingo temne,"freetown, sierra leone",26.0,male,NaN
3001,430,5.0,usa,12,none,"jingmen, hubei, china",29.0,male,NaN
3002,429,5.0,usa,4,hindi-urdu kannada malayalam,"madras, tamil nadu, india",35.0,female,NaN

In [6]:
# The goal of this step is to identify which speakers belong to the test and validation sets as I did not save that information in this csv
# I am reconstructing it from the folder structure where the data is stored

import os

def collect_filenames(path):
    filenames = []

    for root, dirs, files in os.walk(path):
        for file in files:
            file_without_ext, _ = os.path.splitext(file)
            filenames.append(file_without_ext)

    return filenames

path1 = "D:\\Data Science and Entrepreneurship MSc\\Thesis\\Data\\SAA\\s-f-o\\test"
path2 = "D:\\Data Science and Entrepreneurship MSc\\Thesis\\Data\\SAA\\s-f-o\\validation"
collected_filenames = collect_filenames(path1) + collect_filenames(path2)
print(collected_filenames)
print(len(collected_filenames))

['1460_0', '1827_0', '20_0', '2220_0', '2765_0', '2858_0', '1003_0', '1300_0', '1464_0', '1466_0', '1517_0', '2115_0', '1127_0', '1474_0', '182_0', '1889_0', '2030_0', '860_0', '1815_0', '1843_0', '2058_0', '2346_0', '2487_0', '608_0', '1044_0', '1788_0', '1990_0', '2719_0', '2773_0', '719_0', '1285_0', '1470_0', '1989_0', '2513_0', '288_0', '2998_0', '1073_0', '1097_0', '1279_0', '2231_0', '2633_0', '301_0', '1439_0', '1449_0', '2335_0', '810_0', '886_0', '915_0', '1310_0', '1348_0', '1380_0', '492_0', '638_0', '77_0', '1323_0', '1550_0', '2962_0', '416_0', '556_0', '84_0', '12_0', '1927_0', '2036_0', '2312_0', '2425_0', '2794_0', '1275_0', '1484_0', '1740_0', '2989_0', '58_0', '770_0', '1160_0', '1304_0', '1545_0', '183_0', '633_0', '804_0', '1370_0', '1838_0', '2457_0', '2480_0', '2576_0', '483_0', '1447_0', '1736_0', '2566_0', '2599_0', '2890_0', '3005_0', '1389_0', '1922_0', '1930_0', '1965_0', '286_0', '891_0', '1311_0', '1750_0', '2273_0', '2644_0', '299_0', '609_0', '1629_0', '2491_0', '2521_0', '2602_0', '479_0', '925_0', '1093_0', '1215_0', '1692_0', '2081_0', '2195_0', '439_0', '1325_0', '2428_0', '542_0', '663_0', '798_0', '918_0']
120

In [7]:
def remove_trailing_zero(filenames):
    return [filename[:-2] if filename.endswith('_0') else filename for filename in filenames]

filenames_without_trailing_zero = remove_trailing_zero(collected_filenames)
print(filenames_without_trailing_zero)

['1460', '1827', '20', '2220', '2765', '2858', '1003', '1300', '1464', '1466', '1517', '2115', '1127', '1474', '182', '1889', '2030', '860', '1815', '1843', '2058', '2346', '2487', '608', '1044', '1788', '1990', '2719', '2773', '719', '1285', '1470', '1989', '2513', '288', '2998', '1073', '1097', '1279', '2231', '2633', '301', '1439', '1449', '2335', '810', '886', '915', '1310', '1348', '1380', '492', '638', '77', '1323', '1550', '2962', '416', '556', '84', '12', '1927', '2036', '2312', '2425', '2794', '1275', '1484', '1740', '2989', '58', '770', '1160', '1304', '1545', '183', '633', '804', '1370', '1838', '2457', '2480', '2576', '483', '1447', '1736', '2566', '2599', '2890', '3005', '1389', '1922', '1930', '1965', '286', '891', '1311', '1750', '2273', '2644', '299', '609', '1629', '2491', '2521', '2602', '479', '925', '1093', '1215', '1692', '2081', '2195', '439', '1325', '2428', '542', '663', '798', '918']

In [8]:
# Convert the filenames to integers
filenames_as_integers = [int(filename) for filename in filenames_without_trailing_zero]

# Filter the DataFrame such that only test and validation speakers are shown
filtered_df = df[df['url-id'].isin(filenames_as_integers)]

filtered_df

,Unnamed: 0,index,web-scraper-order,web-scraper-start-url,birth-place,native-language,other-languages,age-sex,age-of-english-onset,english-method,...,website-tag,url-id,length-residence2,english-residence2,age-of-english-onset2,other-languages2,birth-place2,age2,sex2,english-dialect
12,12,12,1676624524-2785,https://accent.gmu.edu/browse_language.php?fun...,"birth place: chicago, illinois, usa (map)",english,other language(s): spanish,"age, sex: 19, male",age of english onset: 0,english learning method: naturalistic,...,english107,416,19.00,usa,0,spanish,"chicago, illinois, usa",19.0,male,usa
127,127,127,1676624816-2900,https://accent.gmu.edu/browse_language.php?fun...,"birth place: ola magadan, russia (map)",russian,other language(s): french german,"age, sex: 54, male",age of english onset: 13,english learning method: academic,...,russian11,301,15.00,usa,13,french german,"ola magadan, russia",54.0,male,NaN
129,129,129,1676624821-2902,https://accent.gmu.edu/browse_language.php?fun...,"birth place: nizhni novgorod, russia (map)",russian,other language(s): none,"age, sex: 37, male",age of english onset: 36,english learning method: academic,...,russian1,299,1.00,usa,36,none,"nizhni novgorod, russia",37.0,male,NaN
140,140,140,1676624852-2913,https://accent.gmu.edu/browse_language.php?fun...,"birth place: vitoria, brazil (map)",portuguese,other language(s): spanish,"age, sex: 40, male",age of english onset: 11,english learning method: naturalistic,...,portuguese7,288,0.00,NaN,11,spanish,"vitoria, brazil",40.0,male,NaN
142,142,142,1676624857-2915,https://accent.gmu.edu/browse_language.php?fun...,"birth place: lubango, angola (map)",portuguese,other language(s): spanish german,"age, sex: 31, male",age of english onset: 13,english learning method: academic,...,portuguese5,286,1.00,usa,13,spanish german,"lubango, angola",31.0,male,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2889,2986,2558,1676623901-2659,https://accent.gmu.edu/browse_language.php?fun...,"birth place: redwood falls, minnesota, usa (map)",english,other language(s): none,"age, sex: 21, female",age of english onset: 0,english learning method: naturalistic,...,english160,542,21.00,usa,0,none,"redwood falls, minnesota, usa",21.0,female,usa
2939,3036,2608,1676624029-2709,https://accent.gmu.edu/browse_language.php?fun...,"birth place: blackpool, lancashire, uk (map)",english,other language(s): korean indonesian polish fr...,"age, sex: 25, male",age of english onset: 0,english learning method: naturalistic,...,english129,492,25.00,"uk, australia",0,korean indonesian polish french,"blackpool, lancashire, uk",25.0,male,uk
2948,3045,2617,1676624052-2718,https://accent.gmu.edu/browse_language.php?fun...,"birth place: gwangju, south korea (map)",korean,other language(s): none,"age, sex: 34, male",age of english onset: 13,english learning method: academic,...,korean10,483,0.00,3.5,13,none,"gwangju, south korea",34.0,male,NaN
2952,3049,2621,1676624062-2722,https://accent.gmu.edu/browse_language.php?fun...,"birth place: mexico city, mexico (map)",spanish,other language(s): italian,"age, sex: 28, male",age of english onset: 17,english learning method: academic,...,spanish35,479,4.25,usa,17,italian,"mexico city, mexico",28.0,male,NaN
2992,3089,2661,1676624163-2762,https://accent.gmu.edu/browse_language.php?fun...,"birth place: wrexham, wales, uk (map)",english,other language(s): french welsh,"age, sex: 31, male",age of english onset: 0,english learning method: naturalistic,...,english113,439,31.00,"wales, australia",0,french welsh,"wrexham, wales, uk",31.0,male,uk

In [9]:
labels_df = pd.read_csv("speech-accent-archive-march-version.csv")
labels_df.rename(columns={'accent': 'label'}, inplace=True)
labels_df

      Unnamed: 0  index  url-id   age     sex     label
0              0      0     428  47.0    male    arabic
1              1      7     421  21.0    male        uk
2              2      8     420  26.0  female       usa
3              3      9     419  21.0    male        uk
4              4     12     416  19.0    male       usa
...          ...    ...     ...   ...     ...       ...
1468        1468   3086     442  38.0  female       usa
1469        1469   3087     441  18.0    male   spanish
1470        1470   3089     439  31.0    male        uk
1471        1471   3091     437  40.0    male    arabic
1472        1472   3098     430  29.0    male  mandarin

[1473 rows x 6 columns]

In [12]:
# Merge the DataFrames on the 'url-id' column
merged_df = filtered_df.merge(labels_df[['url-id', 'label']], on='url-id', how='left')
#merged_df = df.merge(labels_df[['url-id', 'label']], on='url-id', how='left')

# Display the merged DataFrame
merged_df

,Unnamed: 0,index,web-scraper-order,web-scraper-start-url,birth-place,native-language,other-languages,age-sex,age-of-english-onset,english-method,...,url-id,length-residence2,english-residence2,age-of-english-onset2,other-languages2,birth-place2,age2,sex2,english-dialect,label
0,12,12,1676624524-2785,https://accent.gmu.edu/browse_language.php?fun...,"birth place: chicago, illinois, usa (map)",english,other language(s): spanish,"age, sex: 19, male",age of english onset: 0,english learning method: naturalistic,...,416,19.00,usa,0,spanish,"chicago, illinois, usa",19.0,male,usa,usa
1,127,127,1676624816-2900,https://accent.gmu.edu/browse_language.php?fun...,"birth place: ola magadan, russia (map)",russian,other language(s): french german,"age, sex: 54, male",age of english onset: 13,english learning method: academic,...,301,15.00,usa,13,french german,"ola magadan, russia",54.0,male,NaN,russian
2,129,129,1676624821-2902,https://accent.gmu.edu/browse_language.php?fun...,"birth place: nizhni novgorod, russia (map)",russian,other language(s): none,"age, sex: 37, male",age of english onset: 36,english learning method: academic,...,299,1.00,usa,36,none,"nizhni novgorod, russia",37.0,male,NaN,russian
3,140,140,1676624852-2913,https://accent.gmu.edu/browse_language.php?fun...,"birth place: vitoria, brazil (map)",portuguese,other language(s): spanish,"age, sex: 40, male",age of english onset: 11,english learning method: naturalistic,...,288,0.00,NaN,11,spanish,"vitoria, brazil",40.0,male,NaN,portuguese
4,142,142,1676624857-2915,https://accent.gmu.edu/browse_language.php?fun...,"birth place: lubango, angola (map)",portuguese,other language(s): spanish german,"age, sex: 31, male",age of english onset: 13,english learning method: academic,...,286,1.00,usa,13,spanish german,"lubango, angola",31.0,male,NaN,portuguese
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,2986,2558,1676623901-2659,https://accent.gmu.edu/browse_language.php?fun...,"birth place: redwood falls, minnesota, usa (map)",english,other language(s): none,"age, sex: 21, female",age of english onset: 0,english learning method: naturalistic,...,542,21.00,usa,0,none,"redwood falls, minnesota, usa",21.0,female,usa,usa
116,3036,2608,1676624029-2709,https://accent.gmu.edu/browse_language.php?fun...,"birth place: blackpool, lancashire, uk (map)",english,other language(s): korean indonesian polish fr...,"age, sex: 25, male",age of english onset: 0,english learning method: naturalistic,...,492,25.00,"uk, australia",0,korean indonesian polish french,"blackpool, lancashire, uk",25.0,male,uk,uk
117,3045,2617,1676624052-2718,https://accent.gmu.edu/browse_language.php?fun...,"birth place: gwangju, south korea (map)",korean,other language(s): none,"age, sex: 34, male",age of english onset: 13,english learning method: academic,...,483,0.00,3.5,13,none,"gwangju, south korea",34.0,male,NaN,korean
118,3049,2621,1676624062-2722,https://accent.gmu.edu/browse_language.php?fun...,"birth place: mexico city, mexico (map)",spanish,other language(s): italian,"age, sex: 28, male",age of english onset: 17,english learning method: academic,...,479,4.25,usa,17,italian,"mexico city, mexico",28.0,male,NaN,spanish
119,3089,2661,1676624163-2762,https://accent.gmu.edu/browse_language.php?fun...,"birth place: wrexham, wales, uk (map)",english,other language(s): french welsh,"age, sex: 31, male",age of english onset: 0,english learning method: naturalistic,...,439,31.00,"wales, australia",0,french welsh,"wrexham, wales, uk",31.0,male,uk,uk

In [13]:
# Making sure
df = merged_df[merged_df['label'].isin(['arabic', 'dutch', 'french', 'korean', 'mandarin', 'portuguese', 'russian', 'spanish'])]

In [15]:
# Calculating proficiency scores
# Normalized scores were calculated prior to filtering to only validation/test sets
# But normalized scores were not utilized in the final thesis version

A = 10  # log years of exposure
B = 15  # log years in country
#C = 100  # inverse age started learning
D = 1  # Weight for years learning English before 18
E = 0.2  # Weight for percentage of life in English-speaking country

# Calculate the years of exposure
df['years_of_exposure'] = df['age2'] - df['age-of-english-onset2']

# Calculate years learning English before 18
df['years_learning_before_18'] = df.apply(lambda x: min(18 - x['age-of-english-onset2'], x['years_of_exposure']) if x['age-of-english-onset2'] < 18 else 0, axis=1)

# Calculate percentage of life in English-speaking country
df['percentage_life_in_english_country'] = (df['length-residence2'] / df['age2']) * 100

# Calculate the proficiency score
#df['proficiency'] = (df['years_of_exposure'] * A) + (df['length-residence2'] * B) + (C / df['age-of-english-onset2']) + (df['years_learning_before_18'] * D) + (df['percentage_life_in_english_country'] * E)
df['proficiency'] = (np.log(df['years_of_exposure'] + 1) * A) + (np.log(df['length-residence2'] + 1) * B) + (df['years_learning_before_18'] * D) + (df['percentage_life_in_english_country'] * E)


# Filter out the person who started learning at age 0
df = df[df['proficiency']<1000]

# Normalize the proficiency scores to a range of 0-100
min_proficiency = df['proficiency'].min()
max_proficiency = df['proficiency'].max()
print(min_proficiency, max_proficiency)
df['normalized_proficiency'] = ((df['proficiency'] - min_proficiency) / (max_proficiency - min_proficiency)) * 100
df

10.986122886681098 129.84994003139423

C:\Users\Rita\AppData\Local\Temp/ipykernel_11780/1205545467.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['years_of_exposure'] = df['age2'] - df['age-of-english-onset2']
C:\Users\Rita\AppData\Local\Temp/ipykernel_11780/1205545467.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['years_learning_before_18'] = df.apply(lambda x: min(18 - x['age-of-english-onset2'], x['years_of_exposure']) if x['age-of-english-onset2'] < 18 else 0, axis=1)
C:\Users\Rita\AppData\Local\Temp/ipykernel_11780/1205545467.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['percentage_life_in_english_country'] = (df['length-residence2'] / df['age2']) * 100
C:\Users\Rita\AppData\Local\Temp/ipykernel_11780/1205545467.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['proficiency'] = (np.log(df['years_of_exposure'] + 1) * A) + (np.log(df['length-residence2'] + 1) * B) + (df['years_learning_before_18'] * D) + (df['percentage_life_in_english_country'] * E)

,Unnamed: 0,index,web-scraper-order,web-scraper-start-url,birth-place,native-language,other-languages,age-sex,age-of-english-onset,english-method,...,birth-place2,age2,sex2,english-dialect,label,years_of_exposure,years_learning_before_18,percentage_life_in_english_country,proficiency,normalized_proficiency
1,127,127,1676624816-2900,https://accent.gmu.edu/browse_language.php?fun...,"birth place: ola magadan, russia (map)",russian,other language(s): french german,"age, sex: 54, male",age of english onset: 13,english learning method: academic,...,"ola magadan, russia",54.0,male,NaN,russian,41.0,5,27.777778,89.521083,66.071376
2,129,129,1676624821-2902,https://accent.gmu.edu/browse_language.php?fun...,"birth place: nizhni novgorod, russia (map)",russian,other language(s): none,"age, sex: 37, male",age of english onset: 36,english learning method: academic,...,"nizhni novgorod, russia",37.0,male,NaN,russian,1.0,0,2.702703,17.869220,5.790742
3,140,140,1676624852-2913,https://accent.gmu.edu/browse_language.php?fun...,"birth place: vitoria, brazil (map)",portuguese,other language(s): spanish,"age, sex: 40, male",age of english onset: 11,english learning method: naturalistic,...,"vitoria, brazil",40.0,male,NaN,portuguese,29.0,7,0.000000,41.011974,25.260716
4,142,142,1676624857-2915,https://accent.gmu.edu/browse_language.php?fun...,"birth place: lubango, angola (map)",portuguese,other language(s): spanish german,"age, sex: 31, male",age of english onset: 13,english learning method: academic,...,"lubango, angola",31.0,male,NaN,portuguese,18.0,5,3.225806,45.486759,29.025347
5,245,245,1676625114-3018,https://accent.gmu.edu/browse_language.php?fun...,"birth place: douala, cameroon (map)",french,other language(s): pidgin banganthe,"age, sex: 36, female",age of english onset: 11,english learning method: academic,...,"douala, cameroon",36.0,female,NaN,french,25.0,7,11.111111,65.944756,46.236638
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
111,2895,2467,1676623670-2568,https://accent.gmu.edu/browse_language.php?fun...,"birth place: sens, france (map)",french,other language(s): spanish,"age, sex: 32, male",age of english onset: 12,english learning method: academic,...,"sens, france",32.0,male,NaN,french,20.0,6,0.000000,36.445224,21.418714
112,2919,2491,1676623731-2592,https://accent.gmu.edu/browse_language.php?fun...,"birth place: pskov, russia (map)",russian,other language(s): none,"age, sex: 33, male",age of english onset: 18,english learning method: academic,...,"pskov, russia",33.0,male,NaN,russian,15.0,0,18.181818,60.550903,41.698796
113,2920,2492,1676623733-2593,https://accent.gmu.edu/browse_language.php?fun...,"birth place: sokcho, south korea (map)",korean,other language(s): none,"age, sex: 31, male",age of english onset: 31,english learning method: academic,...,"sokcho, south korea",31.0,male,NaN,korean,0.0,0,3.225806,11.042369,0.047320
117,3045,2617,1676624052-2718,https://accent.gmu.edu/browse_language.php?fun...,"birth place: gwangju, south korea (map)",korean,other language(s): none,"age, sex: 34, male",age of english onset: 13,english learning method: academic,...,"gwangju, south korea",34.0,male,NaN,korean,21.0,5,0.000000,35.910425,20.968788
118,3049,2621,1676624062-2722,https://accent.gmu.edu/browse_language.php?fun...,"birth place: mexico city, mexico (map)",spanish,other language(s): italian,"age, sex: 28, male",age of english onset: 17,english learning method: academic,...,"mexico city, mexico",28.0,male,NaN,spanish,11.0,1,15.178571,53.758202,35.984104

In [42]:
prof_df = df[['url-id', 'length-residence2', 'english-residence2', 'age-of-english-onset2', 'birth-place2', 'age2', 'proficiency', 'normalized_proficiency', 'label']]
prof_df

,url-id,length-residence2,english-residence2,age-of-english-onset2,birth-place2,age2,proficiency,normalized_proficiency,label
0,428,25.0,usa,11,"amman, jordan",47.0,102.618925,73.916269,arabic
16,412,0.0,NaN,11,"lamentin, martinique",21.0,30.978953,20.100408,french
18,410,0.5,canada,10,"maracaibo, zulia, venezuela",18.0,36.609778,24.330277,spanish
78,350,0.4,"usa,trinidad",17,"araure, venezuela",20.0,20.310027,12.085924,spanish
79,349,0.5,usa,12,"san salvador, el salvador",21.0,35.584018,23.559727,spanish
...,...,...,...,...,...,...,...,...,...
2981,450,4.0,usa,22,"santa cruz, bolivia",26.0,43.312871,29.365632,spanish
2982,449,7.0,usa,7,"guayaquil, ecuador",31.0,78.896510,56.096019,spanish
2990,441,0.0,NaN,5,"buenos aires, argentina",18.0,39.390573,26.419207,spanish
2994,437,7.0,usa,33,"qayrawan, tunisia",40.0,55.486039,38.510101,arabic
3001,430,5.0,usa,12,"jingmen, hubei, china",29.0,65.228385,45.828540,mandarin

In [43]:
# Group the data by 'label' and calculate the average 'normalized_proficiency' per group
average_normalized_proficiency_per_label = df.groupby('label')['proficiency'].mean()

# Convert the result to a DataFrame for better readability
average_normalized_proficiency_per_label_df = average_normalized_proficiency_per_label.reset_index()

# Rename the columns for clarity
average_normalized_proficiency_per_label_df.columns = ['label', 'average_normalized_proficiency']

# Display the result
average_normalized_proficiency_per_label_df

        label  average_normalized_proficiency
0      arabic                       60.241099
1       dutch                       44.770713
2      french                       65.371031
3      korean                       64.704709
4    mandarin                       52.965529
5  portuguese                       54.128838
6     russian                       58.055879
7     spanish                       69.516368

In [47]:
# Group the data by 'label' and calculate the average 'normalized_proficiency' per group
average_normalized_proficiency_per_label = df.groupby('label')['proficiency'].mean()

# Calculate the standard deviation of 'normalized_proficiency' per group
std_normalized_proficiency_per_label = df.groupby('label')['proficiency'].std()

# Convert the results to a DataFrame for better readability
average_normalized_proficiency_per_label_df = average_normalized_proficiency_per_label.reset_index()
std_normalized_proficiency_per_label_df = std_normalized_proficiency_per_label.reset_index()

# Merge the average and standard deviation DataFrames
result_df = pd.merge(average_normalized_proficiency_per_label_df, std_normalized_proficiency_per_label_df, on='label')

# Rename the columns for clarity
result_df.columns = ['label', 'average_normalized_proficiency', 'std_normalized_proficiency']

# Display the result
result_df

        label  average_normalized_proficiency  std_normalized_proficiency
0      arabic                       60.241099                   22.688558
1       dutch                       44.770713                   21.566273
2      french                       65.371031                   31.887985
3      korean                       64.704709                   24.935279
4    mandarin                       52.965529                   18.525025
5  portuguese                       54.128838                   21.956950
6     russian                       58.055879                   24.845225
7     spanish                       69.516368                   27.197214

In [25]:
prof_df.to_csv('proficiency_test_df.csv')

In [34]:
prof_df['proficiency'].mean()

60.731952646835914

In [36]:
prof_df['proficiency'].std()

25.385100666080763

## Prepare proficiency score plot

In [16]:
# create this table:
# rows: each speaker from validation and test
# columns: id, label, proficiency
df = df[['url-id', 'label', 'proficiency']]

In [17]:
df

     url-id       label  proficiency
1       301     russian    89.521083
2       299     russian    17.869220
3       288  portuguese    41.011974
4       286  portuguese    45.486759
5       183      french    65.944756
..      ...         ...          ...
111     633      french    36.445224
112     609     russian    60.550903
113     608      korean    11.042369
117     483      korean    35.910425
118     479     spanish    53.758202

[96 rows x 3 columns]

In [18]:
# create 5 proficiency bins
df['prof-group'] = pd.qcut(df['proficiency'], 5, labels=[1, 2, 3, 4, 5])

C:\Users\Rita\AppData\Local\Temp/ipykernel_11780/248768617.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['prof-group'] = pd.qcut(df['proficiency'], 5, labels=[1, 2, 3, 4, 5])

In [19]:
df['prof-group'].value_counts()

1    20
2    19
3    19
4    19
5    19
Name: prof-group, dtype: int64

In [20]:
# save this table and feed it to model evaluator ----> the rest of the steps were performed in the model_evaluator notebook
df.to_csv('proficiency_groups.csv')

In [ ]:
# create a new row: binary classified correcly (int)

In [ ]:
# calculate mean and sd per bin and plot it